.cart-summary {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid #ccc;
}

.cart-summary p {
    font-size: 1.2rem;
    font-weight: bold;
}

.cart-summary button {
    background-color: #ffcc66;
    color: #1e1e1e;
    border: 2px solid #ffcc66;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.carrito-libros {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}