.count-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.count-button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #ffcc66;
    color: black;
}

#minus-button{
    padding: 5px 12px;
}

.count-value {
    font-size: 18px;
    font-weight: bold;
}

.count-controls {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}