footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
    border-top: 1px solid #ddd;
}