section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    justify-items: center;
    align-items: center;
}

form > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
}

label{
    margin-top: 10px;
    font-weight: bold;
}

input, textarea{
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 80%;
    box-sizing: border-box;
}

button{
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}