ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-end: 1rem;
    margin: 0;
    padding-bottom: 2em;
}

span.cart-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    margin-left: 0.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

.login img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.admin-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
}